{yun:}if $config.sy_chat_open==1{/yun}
	{yun:}if $config.chat_platform==2{/yun}
		{yun:}include file="$temstyle/chat/layerim_easemob.htm"{/yun}
	{yun:}elseif $config.chat_platform==3{/yun}
		{yun:}include file="$temstyle/chat/layerim_rongcloud.htm"{/yun}
	{yun:}/if{/yun}
{yun:}/if{/yun}

<input type='hidden' id="layindex" value="">
<div class="clear"></div>

<div class="m_footer" style="line-height:30px;">
  <div class="wrap">
	<div class="m_footer_banquan">{yun:}$config.sy_webcopyright{/yun}{yun:}$config.sy_webrecord{/yun} </div>
      <div class="m_footer_banquan">地址:{yun:}$config.sy_webadd{/yun}  电话(Tel):{yun:}$config.sy_freewebtel{/yun}  EMAIL:{yun:}$config.sy_webemail{/yun}</div>
   </div>
</div>
</body>
</html>
