{yun:}include file="$wapadminstyle/header.htm"{/yun}
<div class="et_pd_top">
     <span>运营 &gt; {yun:}$headertitle{/yun}</span>
</div>
{yun:}foreach item=v key=key from=$rows{/yun}
<div class="et_pd_ct">
<div class="et_pd_ct_te">{yun:}if $v.state==1{/yun}<span class="et_pd_ct_te_rt">成功</span>{yun:}else{/yun}<span class="et_pd_ct_te_rt_no">失败</span>{yun:}/if{/yun} </div>
  <div class="et_pd_ct_nm">
  <div>邮箱：{yun:}$v.email{/yun}</div>
  <div>发送人：{yun:}if $v.cname{/yun}{yun:}$v.cname{/yun}{yun:}else{/yun}系统{yun:}/if{/yun}</div>
  <div>接收人：{yun:}$v.name{/yun}</div>
     <span>{yun:}$v.title|mb_substr:0:40:'utf-8'{/yun}</span>
  </div>
  <div class="et_pd_ct_te"> <span class="et_pd_ct_te_ft">发送时间：{yun:}$v.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</span> 
   <a class="et_pd_ct_te_rt_del" href="javascript:;" onclick="layer_del('确定要删除？', 'index.php?c=admin_emailmsg&a=del&id={yun:}$v.id{/yun}');">删除</a></div>
  <input type="hidden" id="pytoken"  value="{yun:}$pytoken{/yun}"/>
</div>
{yun:}foreachelse{/yun}
<div class="wap_member_no">暂时还没有短信记录<br>
</div>
{yun:}/foreach{/yun}
<div class="pages"> {yun:}$pagenav{/yun}</div>
</body>
</html>