{yun:}include file="$wapadminstyle/header.htm"{/yun}
<script> 
function check(){
	if($("#userarr").val()==''){
		layermsg('请输入用户名！', 2);return false;
	}
	if($("#price_int").val()<1){
		layermsg('请输入{yun:}$config.integral_pricename{/yun}！', 2);return false;
	}	
}
</script>
<style>

body{ background:#f8f8f8}
</style>
<div class="admin_c_box">
<form name="myform" action="index.php?c=admin_recharge" method="post" onSubmit="return check()">
<ul class="admin_recharge_box">
<li><span class="admin_recharge_box_s">用&nbsp;户&nbsp; 名：</span><div class="admin_cz_t"><input type="text" name="userarr" id='userarr' value="" class="admin_recharge_box_text"></div></li>
<li><span class="admin_recharge_box_s">充值方式：</span><div class="admin_recharge_box_chlose">	<label class="admin_recharge_box_lable"><input type="radio" name="fs" value="1" id="fs_0" checked> 增加 </label>  <label class="admin_recharge_box_lable"><input type="radio" name="fs" value="2" id="fs_1"> 扣除 </label> </div></li>
<li><span class="admin_recharge_box_s">{yun:}$config.integral_pricename{/yun}：</span>	<div class="admin_cz_t admin_cz_t_w80"><input type="text" name="price_int" id="price_int" value="" class="admin_recharge_box_text" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')"><span class="admin_cz_t_w80_dw">{yun:}$config.integral_priceunit{/yun}</span></div></li>
<li><span class="admin_recharge_box_s">备　　注：</span>	<textarea name="remark" class="admin_recharge_box_t"></textarea></li>
<li><input type="submit" value="充值" name="insert" class="admin_recharge_box_bth"></li>
</ul>
</form>
{yun:}if $layer{/yun}
<input type="hidden" id="layermsg" value="{yun:}$layer.msg{/yun}">
<input type="hidden" id="layerurl" value="{yun:}$layer.url{/yun}">
<script>$(document).ready(function(){islayer();});</script>
{yun:}/if{/yun}
</div>

</body>
</html>