{yun:}include file="$wapadminstyle/header.htm"{/yun}
<div class="et_pd_top">
     <span>个人 &gt; {yun:}$headertitle{/yun} &gt; {yun:}$row.username{/yun}</span>
</div>
<div class="peo_det">
     <div class="peo_det_yh">
          <div class="peo_det_yh_nm"><div class="nb">用户名：</div></div>
          <div class="peo_det_yh_c">{yun:}$row.username{/yun}</div>
     </div>
   
     <div class="peo_det_yh">
          <div class="peo_det_yh_nm"><div class="nb">简历名称：</div></div>
          <div class="peo_det_yh_c">{yun:}if $expect.name{/yun}{yun:}$expect.name{/yun}{yun:}else{/yun}<font color="#FF0000">简历已删除</font>{yun:}/if{/yun}</div>
     </div>
      <div class="peo_det_yh">
          <div class="peo_det_yh_nm"><div class="nb">委托价格：</div></div>
          <div class="peo_det_yh_c">{yun:}$row.price{/yun}{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}</div>
     </div>
     <div class="peo_det_yh">
          <div class="peo_det_yh_nm"><div class="nb">申请时间：</div></div>
          <div class="peo_det_yh_c">{yun:}$row.add_time|date_format:"%Y-%m-%d"{/yun}</div>
     </div>
     <div class="peo_det_yh">
          <div class="peo_det_yh_nm"><div class="nb">接受状态：</div></div>
                  <div class="peo_det_yh_c peo_det_yh_hig">  {yun:}if $row.status=="1"{/yun}<div class="peo_det_yh_he">接受</div>{yun:}elseif $row.status=="2"{/yun}<div class="peo_det_yh_no">未接受</div>{yun:}else{/yun}<div class="peo_det_yh_ng">未审核</div>{yun:}/if{/yun}</div>
     </div>
     <input type="hidden" id="pytoken"  value="{yun:}$pytoken{/yun}"/>
     <input type="hidden" id="lasturl"  value="{yun:}$lasturl{/yun}"/>
</div>
<div class="peo_det_but">
     <ul>
      <li><a style="display:block" href="javascript:void(0);" onclick="statusdiv('{yun:}$row.status{/yun}','委托简历管理')">审核</a></li>
      <li><a style="display:block" href="javascript:void(0);" onclick="layer_del('确定要删除？', 'index.php?c=admin_trust&a=del&id={yun:}$row.id{/yun}');">删除</a></li>
     </ul>
</div>

<!--审核弹出-->
<div class="pop_up" style="display:none;" id="status_div">
     <div class="pop_up_state">
        <ul>
          <li><label><input class="pop_up_state_cb" type="radio" name="status" value="0" id="status0"/>未审核</label></li>
          <li><label><input class="pop_up_state_sb" type="radio" name="status" value="1" id="status1"/>接受</label></li>
          <li><label><input class="pop_up_state_sb" type="radio" name="status" value="2" id="status2"/>未接受</label></li>
        </ul>
     </div>
     <div class="pop_up_head">
        <div class="pop_up_icon"></div>委托说明
     </div>
     <div class="pop_up_text">设定“未接受”时，将会退还金额。</div>
     <div class="pop_up_but">
          <ul>
              <li class="pop_up_but_q"><a style="display:block" href="javascript:;" onclick="checkStatus('{yun:}$row.id{/yun}','index.php?c=admin_trust&a=status')">确定</a></li>
              <li class="pop_up_but_x"><a style="display:block" href="javascript:;" onclick="layer.closeAll();">取消</a></li>
          </ul>
     </div>
</div>
<!-- <div class="pop_up" style="display:none;" id="delete">
     <div class="pop_up_head">
        <div class="pop_up_icon"></div>删除操作
     </div>
     <div class="pop_up_but">
          <ul>
              <li class="pop_up_but_q"><a href="javascript:;" onclick="del('{yun:}$row.id{/yun}')">确定</a></li>
              <li class="pop_up_but_x"><a href="javascript:;" onclick="hideOperation('delete')">取消</a></li>
          </ul>
     </div>
</div> -->

</body>
</html>











