{yun:}include file="$wapadminstyle/header.htm"{/yun}
<div class="et_pd_top">
     <span>企业 &gt; {yun:}$headertitle{/yun}</span>
</div>
{yun:}foreach item=v from=$rows{/yun}
<div class="et_pd_ct" onclick="showDetail('index.php?c=comcert&a=show&id={yun:}$v.id{/yun}')">
 
     <div class="et_pd_ct_nm">{yun:}$v.name{/yun}&nbsp;<!--img class="et_icon" src="image/ht_05.png"/--></div> 
     <div class="et_pd_ct_te">
          <span class="et_pd_ct_te_ft">申请时间：{yun:}$v.ctime|date_format:"%Y-%m-%d"{/yun}</span> 
		  {yun:}if $v.status=='1'{/yun}
          <span class="et_pd_ct_te_rt">已通过</span>
		  {yun:}elseif $v.status=='2'{/yun}
		  <span class="et_pd_ct_te_rt_no">未通过</span>
		  {yun:}else{/yun}
		  <span class="et_pd_ct_te_rt_ng">待审核</span>
		   {yun:}/if{/yun}
     </div>
</div>
{yun:}/foreach{/yun} 
<div class="pages">{yun:}$pagenav{/yun}</div>
</body>
</html>
