{yun:}include file="$wapadminstyle/header.htm"{/yun}
<div class="et_pd_top">
     <span>个人 &gt; {yun:}$headertitle{/yun}</span>
</div>
{yun:}foreach item=v key=key from=$rows{/yun}
<div class="et_pd_ct" onclick="showDetail('index.php?c=admin_trust&a=show&eid={yun:}$v.eid{/yun}&id={yun:}$v.id{/yun}')">
     <div class="et_pd_ct_nm">
          <span>{yun:}$v.username{/yun}/{yun:}$v.price{/yun}{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}</span>
          <span class="free_hy_m">{yun:}$v.add_time|date_format:"%Y-%m-%d"{/yun}</span>
     </div>
     <div class="et_pd_ct_te">
          <span class="et_pd_ct_te_ft_m">{yun:}if $v.name{/yun}{yun:}$v.name{/yun}{yun:}else{/yun}<font color="#FF0000">简历已删除</font>{yun:}/if{/yun}</span>
          {yun:}if $v.status==1{/yun}<span class="et_pd_ct_te_rt">已接受</span>{yun:}elseif $v.status==0{/yun}<span class="et_pd_ct_te_rt_ng">未审核</span>{yun:}elseif $v.status==2{/yun}<span class="et_pd_ct_te_rt_no">未接受</span>{yun:}/if{/yun}
     </div>
</div>
{yun:}foreachelse{/yun}
<div class="wap_member_no">暂时没有委托简历信息<br></div>
{yun:}/foreach{/yun}
<div class="pages">{yun:}$pagenav{/yun}</div>
</body>
</html>
