{yun:}include file="$wapadminstyle/header.htm"{/yun}

<div class="list_ct">
     <a href="index.php?c=admin_comorder">
     <div class="list_ct_ft">充值记录</div>
     </a>
</div>
<div class="list_ct">
     <a href="index.php?c=admin_compay">
     <div class="list_ct_ft">消费记录</div>
     </a>
</div>
<div class="list_ct">
     <a href="index.php?c=admin_emailmsg">
     <div class="list_ct_ft">邮件记录</div>
     </a>
</div>
<div class="list_ct">
     <a href="index.php?c=admin_mobliemsg">
     <div class="list_ct_ft">短信记录</div>
     </a>
</div>
</body>
</html>
